* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline #8481b6;
    color: rgba(255, 255, 255, 0.678);
}

footer {
    position: relative;
}