main {
    max-width: 800px;
    display: flex;
    padding: 1em;
}

.titulo__login {
    font-size: 2em;
    color: #8481b6;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.container__login {
    display: flex;
    flex-direction: column;
    background-color: #01004b;
    padding: 1em;
    align-items: center;
    justify-content: center;
    color: white ;
    border-top-left-radius: 1em;
    box-shadow: -1px 0px 4px #0f122460;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input {
    border-radius: 1em;
    border: none;
    padding: 0.8em;
    align-items: center;
}

.lembrarsenha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    text-transform: lowercase;
    align-items: center;
    text-align: center;
    
}

.button__submit--login {
    padding: 0.8em;
    border-radius: 1em;
    border: none;
    color: #252461;
    margin-bottom: 2em;
}

.button__submit--login:hover {
    background: linear-gradient(to right, #302ebb8e, #09085c8e, #1b35c471);
    color: white;
}

.conteudo__img {
    display: flex;
    justify-content: center;
    background-color: #0e28bb83;
    padding: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 1px 0px 4px #0f122460;
    width: 300px;
}

.login__img {
    width: 100%;
}